USE [master]
GO
/****** Object:  Database [Tourism Company]    Script Date: 12/09/2019 01:33:42 م ******/
CREATE DATABASE [Tourism Company]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Tourism Company', FILENAME = N'D:\workss\Tourism Company\Tourism Company.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Tourism Company_log', FILENAME = N'D:\workss\Tourism Company\Tourism Company_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tourism Company].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Tourism Company]
GO
USE [Tourism Company]
GO
/****** Object:  Table [dbo].[banks]    Script Date: 12/09/2019 01:33:43 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[banks](
	[ID_BANK] [int] NULL,
	[BANK_NAME] [nvarchar](150) NULL,
	[Account_Num] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 12/09/2019 01:33:51 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](600) NULL,
	[Phone] [nvarchar](500) NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client_bookinng]    Script Date: 12/09/2019 01:33:52 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client_bookinng](
	[Booking_ID] [int] NOT NULL,
	[Booking_date] [datetime] NULL,
	[ID_client] [int] NULL,
	[ID_plan] [int] NULL,
	[City_Mo8adra] [nvarchar](500) NULL,
	[tripple_num] [bigint] NULL,
	[Traipl_Date] [datetime] NULL,
	[City of Arrival] [nvarchar](500) NULL,
	[Basic] [decimal](18, 2) NULL,
	[Total] [decimal](18, 2) NULL,
	[commission] [decimal](18, 2) NULL,
	[commission_Money] [decimal](18, 2) NULL,
	[price_for_client] [decimal](18, 2) NULL,
	[pay] [decimal](18, 2) NULL,
	[rent] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Client_bookinng] PRIMARY KEY CLUSTERED 
(
	[Booking_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client_money]    Script Date: 12/09/2019 01:33:52 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client_money](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_client] [int] NULL,
	[pay] [decimal](18, 2) NULL,
	[rent] [decimal](18, 2) NULL,
	[date_pay] [datetime] NULL,
	[id_Booking] [int] NULL,
 CONSTRAINT [PK_Client_money] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 12/09/2019 01:33:52 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](300) NULL,
	[phone] [nvarchar](100) NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[company_Booking]    Script Date: 12/09/2019 01:33:52 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[company_Booking](
	[Booking_ID] [int] NOT NULL,
	[Booking_date] [datetime] NULL,
	[Client_Name] [nvarchar](250) NULL,
	[ID_Company] [int] NULL,
	[ID_plan] [int] NULL,
	[City_Mo8adra] [nvarchar](500) NULL,
	[tripple_num] [bigint] NULL,
	[Traipl_Date] [datetime] NULL,
	[City of Arrival] [nvarchar](500) NULL,
	[Basic] [decimal](18, 2) NULL,
	[Total] [decimal](18, 2) NULL,
	[commission] [decimal](18, 2) NULL,
	[commission_Money] [decimal](18, 2) NULL,
	[price_for_client] [decimal](18, 2) NULL,
	[pay] [decimal](18, 2) NULL,
	[rent] [decimal](18, 2) NULL,
 CONSTRAINT [PK_company_Booking] PRIMARY KEY CLUSTERED 
(
	[Booking_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company_money]    Script Date: 12/09/2019 01:33:52 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company_money](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Company] [int] NULL,
	[pay] [decimal](18, 2) NULL,
	[rent] [decimal](18, 2) NULL,
	[date_pay] [datetime] NULL,
	[id_Booking] [int] NULL,
 CONSTRAINT [PK_Company_money] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deserved]    Script Date: 12/09/2019 01:34:01 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deserved](
	[ID_Deserved] [int] IDENTITY(1,1) NOT NULL,
	[Deserved_name] [nvarchar](150) NULL,
	[amount] [decimal](18, 2) NULL,
	[date] [datetime] NULL,
	[notes] [nvarchar](250) NULL,
 CONSTRAINT [PK_Deserved] PRIMARY KEY CLUSTERED 
(
	[ID_Deserved] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plan_type]    Script Date: 12/09/2019 01:34:01 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plan_type](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[planGender] [nvarchar](300) NULL,
 CONSTRAINT [PK_plan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Client_bookinng]  WITH CHECK ADD  CONSTRAINT [FK_Client_bookinng_Client] FOREIGN KEY([ID_client])
REFERENCES [dbo].[Client] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Client_bookinng] CHECK CONSTRAINT [FK_Client_bookinng_Client]
GO
ALTER TABLE [dbo].[Client_bookinng]  WITH CHECK ADD  CONSTRAINT [FK_Client_bookinng_plan] FOREIGN KEY([ID_plan])
REFERENCES [dbo].[Plan_type] ([ID])
GO
ALTER TABLE [dbo].[Client_bookinng] CHECK CONSTRAINT [FK_Client_bookinng_plan]
GO
ALTER TABLE [dbo].[Client_money]  WITH CHECK ADD  CONSTRAINT [FK_Client_money_Client] FOREIGN KEY([ID_client])
REFERENCES [dbo].[Client] ([ID])
GO
ALTER TABLE [dbo].[Client_money] CHECK CONSTRAINT [FK_Client_money_Client]
GO
ALTER TABLE [dbo].[Client_money]  WITH CHECK ADD  CONSTRAINT [FK_Client_money_Client_bookinng] FOREIGN KEY([id_Booking])
REFERENCES [dbo].[Client_bookinng] ([Booking_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Client_money] CHECK CONSTRAINT [FK_Client_money_Client_bookinng]
GO
ALTER TABLE [dbo].[company_Booking]  WITH CHECK ADD  CONSTRAINT [FK_company_Booking_Company] FOREIGN KEY([ID_Company])
REFERENCES [dbo].[Company] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[company_Booking] CHECK CONSTRAINT [FK_company_Booking_Company]
GO
ALTER TABLE [dbo].[company_Booking]  WITH CHECK ADD  CONSTRAINT [FK_company_Booking_plan] FOREIGN KEY([ID_plan])
REFERENCES [dbo].[Plan_type] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[company_Booking] CHECK CONSTRAINT [FK_company_Booking_plan]
GO
ALTER TABLE [dbo].[Company_money]  WITH CHECK ADD  CONSTRAINT [FK_Company_money_Company] FOREIGN KEY([ID_Company])
REFERENCES [dbo].[Company] ([ID])
GO
ALTER TABLE [dbo].[Company_money] CHECK CONSTRAINT [FK_Company_money_Company]
GO
ALTER TABLE [dbo].[Company_money]  WITH CHECK ADD  CONSTRAINT [FK_Company_money_company_Booking] FOREIGN KEY([id_Booking])
REFERENCES [dbo].[company_Booking] ([Booking_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Company_money] CHECK CONSTRAINT [FK_Company_money_company_Booking]
GO
/****** Object:  StoredProcedure [dbo].[add_plan]    Script Date: 12/09/2019 01:34:01 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[add_plan]
@planGender nvarchar(300)
as 
insert into Plan_type
(
planGender
)
values
(
@planGender
)
GO
/****** Object:  StoredProcedure [dbo].[AddClientBooking]    Script Date: 12/09/2019 01:34:01 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[AddClientBooking]
@booking_id int,
@BOKKING_date datetime,
@id_client int ,
@id_plane int ,
@city_mo8adra nvarchar(500),
@triple_num bigint ,
@triple_date datetime,
@CityofArrival nvarchar(500),
@basic decimal(18,2),
@total decimal(18,2),
@commissin decimal(18,2),
@commissinMoney decimal(18,2),
@priceForClient decimal(18,2),
@pay decimal(18,2),
@rent decimal(18,2)

as

INSERT INTO Client_bookinng
          (
		   Booking_ID,
			Booking_date,
			ID_client,
			ID_plan,
			City_Mo8adra,
			tripple_num,
			Traipl_Date,
			[City of Arrival],
			Basic,
			Total,
			commission,
			commission_Money,
			price_for_client,
			pay,
			rent	  )
     VALUES
   (
  @booking_id,
@BOKKING_date ,
@id_client  ,
@id_plane,
@city_mo8adra ,
@triple_num  ,
@triple_date ,
@CityofArrival ,
@basic ,
@total ,
@commissin ,
@commissinMoney ,
@priceForClient ,
@pay ,
@rent 
)

----------------------------------
GO
/****** Object:  StoredProcedure [dbo].[AddCompany]    Script Date: 12/09/2019 01:34:01 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[AddCompany]
@name nvarchar(300),
@phone nvarchar(100)
As
insert into Company
( 
Name,
Phone
)
values
(
  @name,

  @phone
)
GO
/****** Object:  StoredProcedure [dbo].[AddCompanyBooking]    Script Date: 12/09/2019 01:34:01 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[AddCompanyBooking]

@BOKKING_date datetime,
@Client_Name nvarchar(250) ,

@id_plane int ,
@city_mo8adra nvarchar(500),
@triple_num bigint ,
@triple_date datetime,
@CityofArrival nvarchar(500),
@basic decimal(18,2),
@total decimal(18,2),
@commissin decimal(18,2),
@commissinMoney decimal(18,2),
@priceForClient decimal(18,2),
@pay decimal(18,2),
@rent decimal(18,2),
@id_company int ,
@boking_id int

as

INSERT INTO company_Booking
          (
		   
			Booking_date,
			Client_Name,
			
			ID_plan,
			City_Mo8adra,
			tripple_num,
			Traipl_Date,
			[City of Arrival],
			Basic,
			Total,
			commission,
			commission_Money,
			price_for_client,
			pay,
			rent	  ,
			ID_Company,
			Booking_ID
			)
     VALUES
   (
  
@BOKKING_date ,
@Client_Name  ,
@id_plane,

@city_mo8adra ,
@triple_num  ,
@triple_date ,
@CityofArrival ,
@basic ,
@total ,
@commissin ,
@commissinMoney ,
@priceForClient ,
@pay ,
@rent ,
@id_company,
@boking_id
)

----------------------------------
GO
/****** Object:  StoredProcedure [dbo].[AddCustomer]    Script Date: 12/09/2019 01:34:01 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[AddCustomer]
@name nvarchar(600),
@phone nvarchar(500)
As
insert into Client
( 
Name,
Phone
)
values
(
  @name,

  @phone
)
GO
/****** Object:  StoredProcedure [dbo].[addPayClient]    Script Date: 12/09/2019 01:34:01 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[addPayClient]
    
	@ID_client int,
           @pay decimal(18,2),
           @rent decimal(18,2),
           @date_pay datetime,
           @id_Booking int
		   
as
INSERT INTO Client_money
           (
		   ID_client,
           pay,
           rent,
           date_pay,
           id_Booking
		   )
     VALUES
          
		(
		  @ID_client,
		  @pay,@rent,@date_pay,@id_Booking
		
		)
	
		     -------------------------------
			 update Client_bookinng
			 set pay=pay+@pay ,rent=@rent 
			 where Booking_ID=@id_Booking
		  
		  
GO
/****** Object:  StoredProcedure [dbo].[addPayCompany]    Script Date: 12/09/2019 01:34:01 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[addPayCompany]
    
	       @ID_company int,
           @pay decimal(18,2),
           @rent decimal(18,2),
           @date_pay datetime,
           @id_Booking int
		   
as
INSERT INTO Company_money
           (
		   ID_Company,
           pay,
           rent,
           date_pay,
           id_Booking
		   )
     VALUES
          
		(
		  @ID_company,
		  @pay,@rent,@date_pay,@id_Booking
		
		)
	
		     -------------------------------
			 update company_Booking
			 set pay=pay+@pay ,rent=@rent 
			 where Booking_ID=@id_Booking
		  
		  ----------------------------------------------------------------------------------

GO
/****** Object:  StoredProcedure [dbo].[clienttLastID]    Script Date: 12/09/2019 01:34:01 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[clienttLastID]
as
select  isnull (max (Booking_ID +1),1)
 from Client_bookinng
GO
/****** Object:  StoredProcedure [dbo].[CompanytLastID]    Script Date: 12/09/2019 01:34:01 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[CompanytLastID]
as
select  isnull (max (Booking_ID +1),1)
 from company_Booking
GO
/****** Object:  StoredProcedure [dbo].[CompoCompany]    Script Date: 12/09/2019 01:34:01 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[CompoCompany]
as
select 
ID,
Name  




from Company
GO
/****** Object:  StoredProcedure [dbo].[CompoCustomer]    Script Date: 12/09/2019 01:34:01 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[CompoCustomer]
as
select 
ID,
Name  




from Client
GO
/****** Object:  StoredProcedure [dbo].[DeleteComapny]    Script Date: 12/09/2019 01:34:01 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DeleteComapny]
@id int 
as
delete  from Client
where ID=@id
GO
/****** Object:  StoredProcedure [dbo].[DeleteCustomer]    Script Date: 12/09/2019 01:34:01 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DeleteCustomer]
@id int 
as
delete  from Client
where ID=@id
GO
/****** Object:  StoredProcedure [dbo].[ReturnClientBooking]    Script Date: 12/09/2019 01:34:01 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ReturnClientBooking]
@id int
as

SELECT 
b.Booking_ID,
b.Booking_date,
c.Name,
t.planGender,
b.City_Mo8adra,
b.tripple_num,
b.Traipl_Date,
b.[City of Arrival],
b.Basic,
b.Total,
b.commission,
b.commission_Money,
b.price_for_client,
b.pay,
b.rent

	
  FROM Client_bookinng b inner join Client c
  on c.ID=b.ID_client inner join Plan_type t
  on t.ID=b.ID_plan
where b.Booking_ID=@id
GO
/****** Object:  StoredProcedure [dbo].[ReturnCompanyBooking]    Script Date: 12/09/2019 01:34:01 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[ReturnCompanyBooking]
@id int
as

SELECT 
b.Booking_ID,
b.Booking_date,
b.Client_Name,
cm.Name,
t.planGender,
b.City_Mo8adra,
b.tripple_num,
b.Traipl_Date,
b.[City of Arrival],
b.Basic,
b.Total,
b.commission,
b.commission_Money,
b.price_for_client,
b.pay,
b.rent

	
  FROM company_Booking b  inner join Plan_type t
  on t.ID=b.ID_plan inner join Company cm
  on cm.ID=b.ID_Company
where b.Booking_ID=@id
GO
/****** Object:  StoredProcedure [dbo].[SearchClientTicket]    Script Date: 12/09/2019 01:34:01 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SearchClientTicket] 
@id nvarchar(100)
as
select b.Booking_ID as 'رقم الحجز',c.Name as 'اسم العميل',b.tripple_num as 'رقم الرحلة',b.City_Mo8adra as 'مدينة المغادرة',b.[City of Arrival] as 'مدينة الوصول',b.Traipl_Date as 'تاريخ الرحلة',b.price_for_client as 'سعر التذكرة للعميل'
from   Client c inner join Client_bookinng b
on c.ID=b.ID_client
where 
convert(nvarchar,b.Booking_ID) +
c.Name
like
'%'+@id+'%'
GO
/****** Object:  StoredProcedure [dbo].[SearchCompany]    Script Date: 12/09/2019 01:34:01 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SearchCompany]
@name nvarchar(300)
as
select 
Name  as'اسم العميل',
Phone as'رقم الموبايل'
from Company
where 

Name 

like '%'+@name+'%'
GO
/****** Object:  StoredProcedure [dbo].[SearchCompanyTicket]    Script Date: 12/09/2019 01:34:01 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[SearchCompanyTicket] 
@id nvarchar(100)
as
select b.Booking_ID as 'رقم الحجز',b.Client_Name as 'اسم العميل',m.Name as 'اسم الشركة',b.tripple_num as 'رقم الرحلة',b.City_Mo8adra as 'مدينة المغادرة',b.[City of Arrival] as 'مدينة الوصول',b.Traipl_Date as 'تاريخ الرحلة',b.price_for_client as 'سعر التذكرة للعميل'
from   company_Booking b
 inner join Company m
on m.ID=b.ID_Company
where 
convert(nvarchar,b.Booking_ID) +
b.Client_Name+
m.Name
like
'%'+@id+'%'
GO
/****** Object:  StoredProcedure [dbo].[SearchCustomer]    Script Date: 12/09/2019 01:34:01 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SearchCustomer]
@name nvarchar(100)
as
select 
Name  as'اسم العميل',
Phone as'رقم الموبايل'
from Client
where 

Name 

like '%'+@name+'%'
GO
/****** Object:  StoredProcedure [dbo].[selectClientRent]    Script Date: 12/09/2019 01:34:01 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[selectClientRent]
as


select b.ID_client as'رقم العميل',c.Name as'اسم العميل',sum(b.rent) as'الباقي'
from Client_bookinng b inner join Client c
on c.ID=b.ID_client
group by b.ID_client ,c.Name
having sum (b.rent)>0
GO
/****** Object:  StoredProcedure [dbo].[selectClientTicket]    Script Date: 12/09/2019 01:34:01 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[selectClientTicket]

as
select b.Booking_ID as 'رقم الحجز',c.Name as 'اسم العميل',b.tripple_num as 'رقم الرحلة',b.City_Mo8adra as 'مدينة المغادرة',b.[City of Arrival] as 'مدينة الوصول',b.Traipl_Date as 'تاريخ الرحلة',b.price_for_client as 'سعر التذكرة للعميل'
from   Client c inner join Client_bookinng b
on c.ID=b.ID_client
GO
/****** Object:  StoredProcedure [dbo].[SelectCompany]    Script Date: 12/09/2019 01:34:01 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[SelectCompany]
as
select 

Name  as'اسم العميل',

Phone as'رقم الموبايل',
ID

from Company
GO
/****** Object:  StoredProcedure [dbo].[selectCompanyRent]    Script Date: 12/09/2019 01:34:01 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[selectCompanyRent]

as


select  c.Name as 'اسم الشركه',b.Client_Name as'اسم العميل',sum(b.rent) as'الباقي'
from company_Booking b inner join Company c
on c.ID=b.ID_Company
group by  c.Name,Client_Name
having sum (b.rent)>0
GO
/****** Object:  StoredProcedure [dbo].[selectCompanyTicket]    Script Date: 12/09/2019 01:34:01 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[selectCompanyTicket]

as
select b.Booking_ID as 'رقم الحجز',b.Client_Name as 'اسم العميل',m.Name as 'اسم الشركة',b.tripple_num as 'رقم الرحلة',b.City_Mo8adra as 'مدينة المغادرة',b.[City of Arrival] as 'مدينة الوصول',b.Traipl_Date as 'تاريخ الرحلة',b.price_for_client as 'سعر التذكرة للعميل'
from     company_Booking b inner join Company m
on m.ID=b.ID_Company
GO
/****** Object:  StoredProcedure [dbo].[SelectCustomer]    Script Date: 12/09/2019 01:34:01 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SelectCustomer]
as
select 

Name  as'اسم العميل',

Phone as'رقم الموبايل',
ID

from Client
GO
/****** Object:  StoredProcedure [dbo].[selectOneClientRent]    Script Date: 12/09/2019 01:34:01 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[selectOneClientRent]
@id int
as



select b.Booking_ID as'رقم الحجز',c.Name as'اسم العميل',b.Traipl_Date as'تاريخ الرحلة',b.rent as'الباقي'
from Client_bookinng b inner join Client c
on c.ID=b.ID_client
where c.ID=@id and b.rent>0
GO
/****** Object:  StoredProcedure [dbo].[selectOneCompanyRent]    Script Date: 12/09/2019 01:34:01 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[selectOneCompanyRent]
@id int
as



select  b.Booking_ID as'رقم الحجز',c.Name as 'اسم الشركة',b.Client_Name as'اسم العميل',b.rent as'الباقي',b.Traipl_Date as'تاريخ الرحلة'
from    Company c  inner join company_Booking b 
on c.ID=b.ID_Company
where c.ID=@id and b.rent>0
GO
/****** Object:  StoredProcedure [dbo].[SelectPlaneGender]    Script Date: 12/09/2019 01:34:01 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SelectPlaneGender]
as
select   ID,planGender
from Plan_type
GO
/****** Object:  StoredProcedure [dbo].[UpdateClientBooking]    Script Date: 12/09/2019 01:34:01 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[UpdateClientBooking]
@booking_id int,
@BOKKING_date datetime,
@id_plane int ,
@city_mo8adra nvarchar(500),
@triple_num bigint ,
@triple_date datetime,
@CityofArrival nvarchar(500),
@basic decimal(18,2),
@total decimal(18,2),
@commissin decimal(18,2),
@commissinMoney decimal(18,2),
@priceForClient decimal(18,2),
@pay decimal(18,2),
@rent decimal(18,2)

as

UPDATE Client_bookinng
   SET 
      Booking_date =@BOKKING_date,
    
      ID_plan =@id_plane,
      City_Mo8adra = @city_mo8adra,
      tripple_num = @triple_num,
      Traipl_Date = @triple_date,
      [City of Arrival] = @CityofArrival,
      Basic = @basic,
      [Total] = @total,
      commission = @commissin,
      commission_Money = @commissinMoney,
      price_for_client = @priceForClient,
      pay = @pay,
      rent = @rent
 WHERE Booking_ID=@booking_id
GO
/****** Object:  StoredProcedure [dbo].[UpdateCompany]    Script Date: 12/09/2019 01:34:01 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[UpdateCompany]
@name nvarchar(300),
@phone nvarchar(100),
@id int
as
update Company
set Name=@name,
Phone=@phone
where ID=@id
GO
/****** Object:  StoredProcedure [dbo].[UpdateCompanyBooking]    Script Date: 12/09/2019 01:34:01 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE proc [dbo].[UpdateCompanyBooking]
@booking_id int,
@BOKKING_date datetime,

@city_mo8adra nvarchar(500),
@triple_num bigint ,
@triple_date datetime,
@CityofArrival nvarchar(500),
@basic decimal(18,2),
@total decimal(18,2),
@commissin decimal(18,2),
@commissinMoney decimal(18,2),
@priceForClient decimal(18,2),
@pay decimal(18,2),
@rent decimal(18,2)

as

UPDATE company_Booking
   SET 
      Booking_date =@BOKKING_date,
    

      City_Mo8adra = @city_mo8adra,
      tripple_num = @triple_num,
      Traipl_Date = @triple_date,
      [City of Arrival] = @CityofArrival,
      Basic = @basic,
      [Total] = @total,
      commission = @commissin,
      commission_Money = @commissinMoney,
      price_for_client = @priceForClient,
      pay = @pay,
      rent = @rent
 WHERE Booking_ID=@booking_id
GO
/****** Object:  StoredProcedure [dbo].[UpdateCustomer]    Script Date: 12/09/2019 01:34:01 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[UpdateCustomer]
@name nvarchar(150),
@phone nvarchar(20),
@id int
as
update Client
set Name=@name,
Phone=@phone
where ID=@id
GO
/****** Object:  StoredProcedure [dbo].[ValidetCustomer]    Script Date: 12/09/2019 01:34:01 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ValidetCustomer]
@id int 
as
select ID from Client
where ID=@id
GO
USE [master]
GO
